@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Homemade+Apple&display=swap');

body {
    background: url('https://images4.alphacoders.com/119/119638.jpg') ;
    background-size: cover;
    height: 100vh;
    font-family: 'Passion One', cursive;
    color: rgb(245, 245, 245); 
    
}

h1 {
    font-size: 50px;
    color: rgb(46, 222, 195);
    text-align: center;
    padding-top: 30px;
}

#container {
    background-color: red;
    display: column;
    border: solid white;
    max-width: 285px;
    border-radius: 5%;
    margin: 100px auto;   
}

#input-box {
    padding: 10px;
}
.modal-polaroid img {
    height: 75%;
    width: 75%;
    position: absolute;
    margin-left: 10%;
    margin-top: 5%;
}

#stats {
    border: solid white;
    border-radius: 5%;
    padding: 10px;
    text-align: center;
}

#modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

.modal-polaroid {
    width: 20%;
    background-image: url('https://media.discordapp.net/attachments/101512990376882176/748922481154457670/photo.png');
    background-size: cover;
    height: 35%;
    padding: 10px 10px 20px 10px;
    border: 2px black;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    transform: rotate(-8deg);
    margin: 10% auto;
    display: flex;
    min-width: 300px;
    max-width: 300px;
    text-align: center;
}

.modal-polaroid-sig {
    font-family: 'Euphoria Script', cursive;
    font-family: 'Homemade Apple', cursive;
    color:rgb(46, 222, 195);
    height: 50px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    display: none;
    transform: rotate(10deg);
    position: absolute;
    margin-top: 80%;
}

#signature-btn {
    display: block;
    height: 50px;
    width: 100%;
    align-self: flex-end;
    align-items: center;
}

#close-btn {
    display: flex;
    align-items: flex-end;
    border-radius: 15px;
}